{% extends "base.html" %}

{% block title %}
    {{ req_path }}
{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/show_more.js' %}" ></script>
{% endblock %}

{% block content %}

<div class="col-12 col-xl-7">
    
    {% include 'new_category_posts.html' %}

    {% if paginator.count > posts_count %}
    <div class="pagination_block">
        <ul>
            <li class="button_more"><a class="button_standart" id="show_more" href="#!" >Показать больше статей</a></li>
        </ul>
    </div>
    {% endif %}
    <div class="final_message">
        <h4>Статьи этой категории закончились</h4>
    </div>
</div>

{% endblock %}