{% extends "base.html" %}

{% block title %}
    Search
{% endblock %}

{% block content %}
    <div class="col-7 site_card">
        <div class="row">
        {% if query %}
            <div class="col-12 site_card title_padding">
                <h3 class="title_link">По запросу <span class="data">"{{ query }}"</span>{% with results.count as total_results %} нашлось {{ total_results }} результатов. {% endwith %}</h3>
            </div>
            {% for post in results %}
            <div class="col-12 col-xl-5 adaptive_image site_card">
                <img src="{{ post.post_img.url }}" alt="pic">
            </div>
            <div class="col-12 col-xl-7 site_card title_padding">
                <h4><a class="title_link" href="{{ post.get_absolute_url }}">{{ post.post_title }}</a></h4>
                <p>{{ post.post_body|safe|truncatewords:20 }}</p>
                <div>
                    <ul class="data_block">
                        <li class="button_more"><a class="button_standart" href="{{ post.get_absolute_url }}">Читать далее</a></li>
                    </ul>
                </div>
            </div>
            {% empty %}
            <h2>По вашему запросу ничего не найдено</h2>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}