{% extends "base.html" %}

{% block title %}
    {{ req_path }}
{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/show_more.js' %}" ></script>
{% endblock %}

{% block content %}

<div class="col-12 col-xl-7">
    <div class="row">
        {% if page_obj %}
        {% for post in page_obj %}
                <div class="col-12 col-xl-5 adaptive_image site_card">
                    <img src="{{ post.post_img.url }}" alt="pic">
                </div>
                <div class="col-12 col-xl-7 site_card title_padding">
                    <h4><a class="title_link" href="{{ post.get_absolute_url }}">{{ post.post_title }}</a></h4>
                    <p>{{ post.post_body|safe|truncatewords:20 }}</p>
                    <div>
                        <ul class="data_block">
                            <li class="button_more"><a class="button_standart" href="{{ post.get_absolute_url }}">Читать далее</a></li>
                        </ul>
                    </div>
                </div>
        {% endfor %}
        {% endif %}
    </div>

    <div id="news_posts">

    </div>

    {% if paginator.count > posts_count %}
    <div class="pagination_block">
        <ul>
            <li class="button_more"><a class="button_standart" id="show_more" href="#!" >Показать больше совпадений</a></li>
        </ul>
    </div>
    {% endif %}
    <div class="final_message">
        <h4>Совпадения с интересующим тегом закончились</h4>
    </div>
</div>
 
{% endblock %}